<div class="bottom-indent">
  <nav class="navbar bg-dark shadow p-2" role="navigation">
    <div class="container-fluid">
      <div class="ks-flex">
        <a class="ks-margin" routerLink="/">
          <img src="../../../assets/questions.jpg" class="rounded" alt="questions">
        </a>
        <div class="has-search" *ngIf="isLogin() && userService.currentUser.role=='user'">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="ks-form-control" placeholder="Enter quiz name" (keydown.enter)="findQuizLike($event.target.value)" #search>
        </div>
      </div>

      <div *ngIf="isLogin() && userService.currentUser.role=='user'">
        <div class="btn-group" dropdown>
          <button id="button-user" dropdownToggle type="button" class="btn btn-danger btn-lg dropdown-toggle er-margin2"
                  aria-controls="dropdown-animated">
            {{userService.currentUser.userName}} <span class="caret"></span>
          </button>
          <ul id="dropdown-user" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" routerLink="/userProfile">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/myQuiz">My quiz</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/newQuiz">Create new quiz</a></li>
          </ul>
        </div>
        <a class="btn btn-danger btn-lg" routerLink="/" (click)="logOut()">Log out</a>
      </div>
      <div *ngIf="isLogin() && userService.currentUser.role=='admin'">
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button"
                  class="btn btn-danger btn-lg dropdown-toggle er-margin2" aria-controls="dropdown-animated">
            Admin <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" routerLink="/userEditing">User</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/categoryEditing">Category</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/quizEditing">Quiz</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/statistics">Statistics</a></li>
          </ul>
        </div>
        <a class="btn btn-danger btn-lg" routerLink="/" (click)="logOut()">Log out</a>
      </div>
      <div *ngIf="!isLogin() || userService.currentUser.errors!=null" class="btn-group">
        <a class="btn btn-danger btn-lg" routerLink="/login">Log in</a>
        <a class="btn btn-danger btn-lg" routerLink="/register">Register</a>
      </div>
    </div>
  </nav>
</div>

