<div class="flex">
  <div class="ks-m">
    <app-category></app-category>
  </div>

  <div class="container mt-lg-5">
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th class="w-50">Editing <button type="button" class="btn btn-danger er-margin" routerLink="/newQuiz">Create new quiz</button></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let quiz of quizList">
            <td scope="row">{{quiz.id}}</td>
            <td>{{quiz.name}}</td>
            <td>{{quiz.categoryName}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteQuiz(quiz.id)">Delete</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
