<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th class="w-50">Editing <button type="button" class="btn btn-danger er-margin" (click)="openModal(template)">Add new category</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <td scope="row">{{category.id}}</td>
          <td>{{category.name}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Adding new category</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Enter the name: </label>
    <input class="form-control">
    <br>
    <button type="button" class="btn btn-danger m-1 er-right">Cancel</button>
    <button type="button" class="btn btn-danger m-1 er-right">Add</button>
  </div>
</ng-template>
