<div class="flex">
  <div>
    <app-category></app-category>
  </div>
  <div class="text-center">
    <br>
    <h1>{{this.quizService.currQuiz?.name}}</h1>
    <div *ngFor="let question of this.quizService.currQuiz?.questions" class="card text-left border-danger er-width">
      <div class="card-body">
        <label class="card-title">{{question.text}}</label>
        <br>
        <div  *ngFor="let answer of question.answers" >
          <input type="radio" name="{{question.id}}" value="{{answer.text}}" (change)="radioChangeHandler($event)">  {{answer.text}}<br>
        </div>
      </div>
    </div>
    <a *ngIf="this.quizService.currQuiz?.questions" routerLink="/" >
      <button class="btn btn-danger ks-m" [disabled]="">
        Finish
      </button>
    </a>
  </div>
</div>
