<div class="flex">
  <div>
    <app-category></app-category>
  </div>
  <div>
    <div class="card text-left border-danger er-width">
      <div class="card-body">
        <label class="card-title">Question text</label>
        <br>
        <input type="radio" name="answer"> answer1<br>
        <input type="radio" name="answer"> answer2<br>
        <input type="radio" name="answer"> answer3<br>
        <input type="radio" name="answer"> answer4<br>
      </div>
    </div>
    <div class="card text-left border-danger er-width">
      <div class="card-body">
        <label class="card-title">Question text</label>
        <br>
        <input type="radio" name="answer"> answer1<br>
        <input type="radio" name="answer"> answer2<br>
        <input type="radio" name="answer"> answer3<br>
        <input type="radio" name="answer"> answer4<br>
      </div>
    </div>
  </div>
</div>
