<nav class="bg-light sidebar ks-width">
  <div class="sidebar-sticky">
    <table class="table">
      <thead>
      <tr>
        <th class="ks-font text-danger">Top-10</th>
      </tr>
      <tr>
        <th>Username</th>
        <th>Right answer %</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ann</td>
        <td>98</td>
      </tr>
      <tr>
        <td>mark</td>
        <td>72</td>
      </tr>
      <tr>
        <td>kate</td>
        <td>27</td>
      </tr>
      </tbody>
    </table>
  </div>
</nav>
