<nav class="bg-light sidebar ks-width">
  <div class="sidebar-sticky">
    <table class="table">
      <thead>
      <tr>
        <th class="ks-font text-danger">Top-10</th>
      </tr>
      <tr>
        <th class="text-danger">Username</th>
        <th class="text-danger">Right answer %</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rating of topTen">
        <td><b>{{rating.userName}}</b></td>
        <td><b>{{rating.percent}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</nav>
