<div class="container-fluid p-0 ks-display">
  <app-category></app-category>
  <div class="col-5 ks-center">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th>Quiz name</th>
        <th>Right answer percent</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Sport classification</td>
        <td>91</td>
        <td>22.09.2017</td>
      </tr>
      <tr>
        <td>Anatomy</td>
        <td>89</td>
        <td>18.11.2007</td>
      </tr>
      <tr>
        <td>Russian actors</td>
        <td>56</td>
        <td>15.04.2016</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-leader-rating class="ks-float"></app-leader-rating>
</div>
