<div class="container-fluid p-0 ks-display">
  <app-category></app-category>
  <div class="col-5 ks-center">
    <table class="table table-bordered ks-font">
      <thead>
      <tr>
        <th>Quiz name<i class="btn dropdown-toggle ks-color"></i></th>
        <th>Right answer percent<i class="btn dropdown-toggle"></i></th>
        <th>Date<i class="btn dropdown-toggle"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stat of userStatistic">
        <td>{{stat.quizName}}</td>
        <td>{{stat.rightAnswersPercent}}</td>
        <td>{{stat.passageDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-leader-rating class="ks-float"></app-leader-rating>
</div>
