<div class="flex">
  <div>
    <app-category></app-category>
  </div>

  <div class="card-columns">
    <div class="fix-width">
      <div *ngFor="let quiz of quizService.currQuizList" class="card border-secondary text-center">
        <div class="card-header border-secondary p-1">
          <b>{{quiz.name}}</b>
        </div>
        <div class="card-body text-left p-2 er-float">
          <ul class="p-0">
            <li>number of questions: {{quiz.questionNumber}}</li>
            <li>time to accomplish: {{quiz.time}} minutes</li>
            <li>creation date: {{quiz.creationDate}}</li>
            <li>author: {{quiz.userId}}</li>
          </ul>
        </div>
        <div class="card-footer p-1">
          <a class="btn btn-danger text-white">Start quiz</a>
        </div>
      </div>
    </div>

  </div>
</div>
