.fix-width {
  display: inline-block;
  height: auto;
}

.ks-card {
  width: 240px;
  height: 170px;
  margin: 15px;
}

li {
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
}

.flex {
  display: flex;
}

.ks-fix {
  flex-wrap: wrap;
}

.ks-m {
  margin-right: 110px;
}


