<div>
  <header>
    <div class="container-fluid bottom-indent">
      <nav class="navbar navbar-expand-sm bg-secondary fixed-top" role="navigation">
        <div class="container-fluid">
          <img src="src/app/images/questions.jpg" class="rounded" alt="questions">
          <div class="btn-group">
            <button type="button" class="btn btn-danger btn-primary btn-lg">Log in</button>
            <button type="button" class="btn btn-danger btn-primary btn-lg">Register</button>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>

<main>
  <div class="container-fluid">
    <table class="table table-hover table-bordered left">
      <thead class="thead-light">
      <tr>
        <th>Category</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>surgery</td>
      </tr>
      <tr>
        <td>anesthesiology</td>
      </tr>
      <tr>
        <td>cardiology</td>
      </tr>
      <tr>
        <td>neurology</td>
      </tr>
      <tr>
        <td>traumatology</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
