<div class="bottom-indent">
  <nav class="navbar bg-dark shadow p-2" role="navigation">
    <div class="container-fluid">
      <div>
        <a routerLink="/">
          <img src="../../../assets/questions.jpg" class="rounded" alt="questions">
        </a>
      </div>

      <div *ngIf="isLogin() && userService.currentUser.role=='user'">
        <a class="btn btn-light btn-lg text-center text-danger er-margin1 un-tools">Your profile, {{userName}}</a>
        <a class="btn btn-danger btn-lg" routerLink="/" (click)="logOut()">Log out</a>
      </div>
      <div *ngIf="isLogin() && userService.currentUser.role=='admin'">
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-danger btn-lg dropdown-toggle er-margin2" aria-controls="dropdown-animated">
            Admin <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" routerLink="/userEditing">User</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/categoryEditing">Category</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/newQuiz">Quiz</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Statistics</a></li>
          </ul>
        </div>
        <a class="btn btn-danger btn-lg" routerLink="/" (click)="logOut()">Log out</a>
      </div>
      <div *ngIf="!isLogin()" class="btn-group">
        <a class="btn btn-danger btn-lg" routerLink="/login">Log in</a>
        <a class="btn btn-danger btn-lg" routerLink="/register">Register</a>
      </div>
    </div>
  </nav>
</div>

