<div class="bottom-indent">
  <nav class="navbar bg-dark shadow p-2" role="navigation">
    <div class="container-fluid">
      <div>
        <a routerLink="/">
          <img src="../../../assets/questions.jpg" class="rounded" alt="questions">
        </a>
        <a class="btn" routerLink="/admin">Admin</a>
      </div>

      <div *ngIf="isLogin()">
        <a class="btn btn-light un-tools text-center"><b>{{userName}}</b></a>
        <a class="btn btn-danger btn-lg" routerLink="/" (click)="logOut()">Log out</a>
      </div>
      <div *ngIf="!isLogin()" class="btn-group">
        <a class="btn btn-danger btn-lg" routerLink="/login">Log in</a>
        <a class="btn btn-danger btn-lg" routerLink="/register">Register</a>
      </div>
    </div>
  </nav>
</div>

