.rounded {
  width:90px;
  heifht:40px;
}

.btn-danger {
  border:1px solid black;
}

.un-tools {
  font-family: cursive;
  font-size: 20px;
}

.er-margin1 {
  border: 1px solid red;
  margin-right: 5px;
  padding: 6px;
}

.er-margin2 {
  margin-right: 5px;
}
