.flex {
  display: flex;
}

.ks-font {
  font-size: large;
}

.er-margin {
  margin-left: 150px;
}

table td, .table th {
  padding: 4px 15px;
}

.ks-color {
  color: #e9ecef;
}
.ks-margin {
  margin-right: 10px;
}

.er-right {
  float: right;
}

.ks-dropdown {
  margin-bottom: 80px;
}

.ks-w {
  height: 25px;
}

a:active {
  background-color: lightgray;
}

.btn-outline-warning:hover, .btn-outline-warning:not(:disabled):not(.disabled):active{
  color: white;
}

.btn._red {
  background-color: #dc3545;
  color: white;
}

.btn._green {
  background-color: #28a745;
  color: white;
}
