<div class="container mt-lg-5">
  <div class="btn-group ks-dropdown" dropdown>
    <button id="button-user" dropdownToggle type="button" class="btn btn-danger dropdown-toggle er-margin2"
            aria-controls="dropdown-animated">Status<span class="caret"></span>
    </button>
    <ul id="dropdown-user" *dropdownMenu class="dropdown-menu p-0" role="menu" aria-labelledby="button-animated">
      <li role="menuitem" class="ks-w"><a class="dropdown-item ks-w" (click)="getQuizByStatus('approved')">approved</a></li>
      <li role="menuitem" class="ks-w"><a class="dropdown-item ks-w" (click)="getQuizByStatus('unseen')">unseen</a></li>
      <li role="menuitem" class="ks-w"><a class="dropdown-item ks-w" (click)="getAllFilter()">all</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered ks-font">
        <thead class="thead-light">
        <tr>
          <th>Name<i class="btn dropdown-toggle"></i></th>
          <th>Question number<i class="btn dropdown-toggle"></i></th>
          <th>Creation date<i class="btn dropdown-toggle"></i></th>
          <th>User<i class="btn dropdown-toggle ks-color"></i></th>
          <th>Editing<i class="btn dropdown-toggle ks-color"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quiz of quizList">
          <td>{{quiz?.name}}</td>
          <td>{{quiz?.questionNumber}}</td>
          <td>{{quiz?.creationDate}}</td>
          <td>{{quiz?.userName}}</td>
          <td>
            <button type="button" class="btn btn-outline-warning ks-margin" (click)="getQuiz(quiz.id, quiz.name)"
                    routerLink="/passQuiz">View</button>
            <button *ngIf="quiz?.isConfirmed === 'approved'" type="button" class="btn btn-danger ks-margin" (click)="openModal(template, quiz.id)">Delete</button>
            <button *ngIf="quiz?.isConfirmed === 'unseen'" type="button" class="btn btn-success ks-margin" (click)="openEditModal('Approve', quiz, template1)">Approve</button>
            <button *ngIf="quiz?.isConfirmed === 'unseen'" type="button" class="btn btn-danger ks-margin" (click)="openEditModal('Reject', quiz, template1)">Reject</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="pageQuiz?.totalElements > 10" class="qwe">
  <pagination
    [itemsPerPage]="pageSize"  [totalItems]="pageQuiz?.totalElements" (pageChanged)="pageChanged($event)"
  ></pagination>
</div>

<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Confirmation of action</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Are you sure you want to delete this quiz? </label>
    <br>
    <button type="button" class="btn btn-outline-danger m-1 er-right" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger m-1 er-right" (click)="deleteQuiz(curQuizId)">Yes</button>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Confirmation of action</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Are you sure? </label>
    <br>
    <button type="button" class="btn btn-outline-danger m-1 er-right" (click)="modalRef.hide()">Cancel</button>
    <button [ngClass]="buttonText === 'Approve' ? '_green' : '_red'" type="button" class="btn m-1 er-right" (click)="changeStatus()">{{buttonText}}</button>
  </div>
</ng-template>
