.fix-width {
  margin: 15px;
  width: auto;
  display: inline-block;
}

li {
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
}

.flex {
  display: flex;
}

.card-columns {
  column-count: 1;
}


