/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.bg-img{
  height: 91vh;
  background-image: url(src/app/images/medical.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

