<div class="bg-img2">
  <div id="register">
    <div class="container">
      <div id="register-row" class="row justify-content-center align-items-center">
        <div id="register-column" class="col-md-6">
          <div id="register-box" class="col-md-12 rounded">
            <form [formGroup]="registerForm" id="register-form">
              <h3 class="text-center text-danger">Registration</h3>
              <div class="form-group">
                <label class="text-danger">Username:</label><br>
                <input name="name" class="form-control" formControlName="userName" #username>
                <div class="alert alert-danger"
                     *ngIf="(registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched) || userService.currentUser?.errors['userName']">
                  <span *ngIf="registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched">
                    Incorrect username<br/>
                  </span>
                  <span *ngIf="userService.currentUser?.errors['userName']">
                    {{userService.currentUser.errors['userName']}}
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="text-danger">Email:</label><br>
                <input name="email" class="form-control" formControlName="userEmail" #email>
                <div class="alert alert-danger"
                     *ngIf="(registerForm.controls['userEmail'].invalid && registerForm.controls['userEmail'].touched) || userService.currentUser?.errors['email']">
                  <span *ngIf="registerForm.controls['userEmail'].invalid && registerForm.controls['userEmail'].touched">
                    Incorrect email<br/>
                  </span>
                  <span *ngIf="userService.currentUser?.errors['email']">
                    {{userService.currentUser.errors['email']}}
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="text-danger">Password:</label><br>
                <input type="password" name="password" class="form-control" formControlName="userPassword" #password>
                <div class="alert alert-danger"
                     *ngIf="(registerForm.controls['userPassword'].invalid && registerForm.controls['userPassword'].touched) || userService.currentUser?.errors['password']">
                  <span *ngIf="registerForm.controls['userPassword'].invalid && registerForm.controls['userPassword'].touched">
                    Incorrect password<br/>
                  </span>
                  <span *ngIf="userService.currentUser?.errors['password']">
                    {{userService.currentUser.errors['password']}}
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="text-danger">Repeat password:</label><br>
                <input type="password" name="password" class="form-control" formControlName="userPassword2" #password2>
                <div class="alert alert-danger" *ngIf="password.value!=password2.value && registerForm.controls['userPassword2'].touched">
                  Passwords do not match
                </div>
              </div>
              <div class="form-group">
                <a routerLink="/">
                  <button class="btn btn-danger" (click)="addUser(username.value, email.value, password.value)" [disabled]="registerForm.invalid || password.value!=password2.value">
                  Register
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
