<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered ks-font">
        <thead class="thead-light">
        <tr>
          <th>User<i class="btn dropdown-toggle"></i></th>
          <th>Quiz<i class="btn dropdown-toggle"></i></th>
          <th>%<i class="btn dropdown-toggle"></i></th>
          <th>Date of passage<i class="btn dropdown-toggle"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stat of fullStat">
          <td>{{stat.userName}}</td>
          <td>{{stat.quizName}}</td>
          <td>{{stat.rightAnswersPercent}}</td>
          <td>{{stat.passageDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
