<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <table class="table table-bordered ks-font">
        <thead class="thead-light">
        <tr>
          <th>User<i class="btn dropdown-toggle ks-color"></i></th>
          <th>Quiz<i class="btn dropdown-toggle ks-color"></i></th>
          <th>%<i [ngClass]="curPage > 1 ? 'ks-color' : ''" class="btn dropdown-toggle" (click)="setSortParam('rightAnswersPercent')"></i></th>
          <th>Date of passage<i [ngClass]="curPage > 1 ? 'ks-color' : ''" class="btn dropdown-toggle" (click)="setSortParam('passageDate')"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stat of fullStat">
          <td>{{stat.userName}}</td>
          <td>{{stat.quizName}}</td>
          <td>{{stat.rightAnswersPercent}}</td>
          <td>{{stat.passageDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="pageStat?.totalElements > 10" class="qwe">
  <pagination
    [itemsPerPage]="pageSize"  [totalItems]="pageStat?.totalElements" (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
